################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UPSClaimProvider/bin/Debug
/UPSClaimProvider/obj/Debug
